name: Python-Prefab-CI

# run CI anytime there is a push to main branch or trigger manually
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  
jobs:
  build:
    # use ubuntu-22.04 because it has docker pre-installed
    # see : https://github.com/actions/runner-images
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    # run one instance per workflow per branch
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    # CI steps
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build all images
        run: make build
      - name: Run Linting
        run: make lint
      - name: Run tests
        run: make test
      - name: Build docs
        run: make build_docs
      - name: validate files
        run: ls ./docs/build
      - name: validate viles
        run: pwd
      - name: validate files
        run: ls /home/runner/work/Python-Prefab/Python-Prefab/docs/build/
      - name: Deploy documentation to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/
          exclude_assets: ''
          # force_orphan: true
